---
import Section from "@/components/Section.astro";
---

<Section title="Proyectos">
  <body class="bodyPadre">
    <div class="ContainerCenter">
      <!-- Radio Seleccionar -->
      <input type="radio" name="Carrusel" id="Slider1" checked />
      <input type="radio" name="Carrusel" id="Slider2" />
      <input type="radio" name="Carrusel" id="Slider3" />

      <div class="Carrusels">
        <!-- Imagen contenido -->
        <div
          class="Carrusel"
          style="background-image: url(../img/esquicio.jpg);"
        >
        </div>
        <div
          class="Carrusel"
          style="background-image: url(../img/plantillaLibro.png);"
        >
        </div>
        <div
          class="Carrusel"
          style="background-image: url(../img/composicion4.png);"
        >
        </div>

        <!-- Flechas a la izquierda por cada imagen -->
        <label for="Slider3" class="ArrowLeft Arrow1">❮</label>
        <label for="Slider1" class="ArrowLeft Arrow2">❮</label>
        <label for="Slider2" class="ArrowLeft Arrow3">❮</label>

        <!-- Flechas a la derecha por cada imagen -->
        <label for="Slider2" class="ArrowRight Arrow1">❯</label>
        <label for="Slider3" class="ArrowRight Arrow2">❯</label>
        <label for="Slider1" class="ArrowRight Arrow3">❯</label>
      </div>

      <!-- Selector circulos inferiores colgantes -->
      <div class="Selectors">
        <label for="Slider1" class="Selector"></label>
        <label for="Slider2" class="Selector"></label>
        <label for="Slider3" class="Selector"></label>
      </div>
    </div>
  </body>

  <div class="spanCv">
    <a class="cv" href="../img/CvAntonella.pdf" download="CvAntonella.pdf"
      >Descargar Cv</a
    >
  </div>
</Section>

<style>
  .spanCv {
    position: relative;
    margin-left: 40%;
    margin-top: 60px;
   
  }

  .cv {
    box-shadow: 2px 2px 2px 1px #7b4b94;
    color: #bda0bc;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #bda0bc;
    padding: 5px;
    height: 50px;
    width: 100px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  .bodyPadre {
    margin: 0;
    box-sizing: content-box;
    height: 100vh;
    background-color: #101010;
    background-size: cover;
    background-position: center;
    font-family: Arial;
    color: White;
    font-size: min(30px, max(3.75vw, 25px));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  label {
    cursor: pointer;
  }

  /* Contenedor para centrar */
  .ContainerCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* Input */
  input {
    display: none;
  }

  /* Slider */
  .Carrusels {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .Carrusel {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  /* Estado 1 */
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
    transform: translate(0%, 0);
  }
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
    transform: translate(100%, 0);
  }
  #Slider1:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
    transform: translate(200%, 0);
  }
  /* Estado 2 */
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
    transform: translate(-100%, 0);
  }
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
    transform: translate(0%, 0);
  }
  #Slider2:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
    transform: translate(100%, 0);
  }
  /* Estado 3 */
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(1) {
    transform: translate(-200%, 0);
  }
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(2) {
    transform: translate(-100%, 0);
  }
  #Slider3:checked ~ .Carrusels .Carrusel:nth-of-type(3) {
    transform: translate(0%, 0);
  }

  /* Flechas */
  .Carrusels .ArrowLeft,
  .Carrusels .ArrowRight {
    position: absolute;
    height: 100%;
    width: 2em;
    align-items: center;
    justify-content: center;
    display: none;
    user-select: none;
  }
  .Carrusels .ArrowLeft {
    left: 0px;
  }
  .Carrusels .ArrowRight {
    right: 0px;
  }
  /* Configuracion de flechas individuales */
  #Slider1:checked ~ .Carrusels .Arrow1 {
    display: flex;
  }
  #Slider2:checked ~ .Carrusels .Arrow2 {
    display: flex;
  }
  #Slider3:checked ~ .Carrusels .Arrow3 {
    display: flex;
  }

  /* Selectores */
  .Selectors {
    width: 60px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  .Selectors .Selector {
    background-color: #bda0bc;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 5px;
  }
  /* Condicionales para botón inferior */
  #Slider1:checked ~ .Selectors .Selector:nth-of-type(1) {
    background-color: #7b4b94;
  }
  #Slider2:checked ~ .Selectors .Selector:nth-of-type(2) {
    background-color: #7b4b94;
  }
  #Slider3:checked ~ .Selectors .Selector:nth-of-type(3) {
    background-color: #7b4b94;
  }

  @media (width <= 500px) {
    .Carrusels {
      height: 200px;
    }
    .spanCv {
      margin-left: 30%;
    }
  }
</style>
