---
import Section from "@/components/Section.astro";
import { skills } from '@cv';
---

<Section title="Skills">
    <ul>
        {
            skills.map(({ name })=> (
                <li>
                    <span>{name}</span>
                </li>
            ))
        }
    </ul>
    
</Section>

<style>
    ul{
        display: inline-flex;
        gap: 12px;
        flex-wrap: wrap;
    }
    /*ul li:hover{
        border: 1px solid #7B4B94;
    }*/
    li{
        z-index: 9999;
        border-radius: 6px;
        background-color: #BDA0BC;
        color: black;
        /* font-size: 0.9rem; */
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }
    li:hover{
        opacity: 70%;
        transition: inline-block;
        scale: 125%;
    }


</style>